<!DOCTYPE html>
<head>
	<%- include('../partials/head') %>
	<style>
		main {
			padding: 0rem 1rem 1rem 1rem;
		}
		h5 {
			font-weight: 700;
			font-size: 1rem;
		}
		body > table {
			margin-bottom: 0rem !important;
		}
		td > button {
			width: 100%;
		}
		.chap-col {
			width: 25%
		}
	</style>
</head>

<body>
	<header>
		<%- include('../partials/header') %> 
	</header>

	<%- include('../partials/mangaTable', { mangas: [mangaMeta] }) %>
	<main>
		<h5>Summary</h5>
		<p>
			<%= mangaMeta.summary %>
		</p>
		<h5>
			<%= mangaMeta.chapters.length %> Chapters Available
		</h5>
		<table class="table">
			<tbody>
				<% for (let startChap = 1; startChap < mangaMeta.chapters.length; startChap += 50) { %>
					<% let endChap = startChap + 49 > mangaMeta.chapters.length ? mangaMeta.chapters.length : startChap + 49 %>
					<% let readClass = state[(startChap-1)/50].converted ? 'btn-secondary' : 'btn-outline-secondary disabled' %>
					<% let convClass = state[(startChap-1)/50].downloaded && !state[(startChap-1)/50].converted ? 'btn-secondary' : 'btn-outline-secondary disabled' %>
					<% let downClass = !state[(startChap-1)/50].converted && !state[(startChap-1)/50].downloaded ? 'btn-secondary' : 'btn-outline-secondary disabled' %>
					<tr>
						<td class="chap-col" style="padding-left: 0rem; vertical-align: middle;">
							Chapters <%= startChap %> to <%= endChap %>
						</td>
						<td class="chap-col">
							<button class="btn <%= downClass %>" onclick="window.location = '/download/<%= encodeURIComponent(url) %>/<%= startChap %>'">Download</button>
						</td>
						<td class="chap-col">
							<button class="btn <%= convClass %>" onclick="window.location = '/convert/<%= encodeURIComponent(url) %>/<%= startChap %>'">Convert</button>
						</td>
						<td class="chap-col">
							<button class="btn <%= readClass %>" onclick="window.location = '/read/<%= encodeURIComponent(url) %>/<%= startChap %>'">Read</button>
						</td>
					</tr>
				<% } %>
			</tbody>
		</table>
	</main>
</body>